#about{
    background-color: rgb(149, 149, 149);
    border-radius: 11px;
}

body{
    background-color: #f0fcfd;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

#intro{
    box-shadow: black 0px 1px 0px 0px;
    margin: 31px 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    margin: 17px;
    color: #ae30d7;
}

.para1{
    font-family: 'Noticia Text', serif;
    padding:14px 0px 50px 0px;
}

#mid{
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 1px 0px 0px;
}

#mid>div{
    width: 67%;
    margin: 25px 37px;
    display: flex;
}

.img_con{
    margin: 34px 0px;
}

.head2{
    margin: 28px 18px;
    color: #ff8025;
    font-size: 1.8rem;
    font-family: 'Archivo Black', sans-serif;
}

.para2{
    margin: 0px 15px;
    color: #835f45;
    font-weight: bold;
    font-family: 'Noticia Text', serif;
}


#mid img{
    align-self: center;
}

#box1>img{
    height: 249px;
    border-radius: 50%;
    width: 271px;
}

#box2{
    align-self: flex-end;
}

#box2>img{
    height: 221px;
    border-radius: 50%;
    width: 267px;
}

#box3>img{
    height: 249px;
    border-radius: 50%;
    width: 271px;
    
}

#follow{
    margin: 25px;
}

#follow>h1{
    margin:auto;
    width: 145px;
}

#follow>div{
    margin:auto;
    width: 68%;
}

@media screen and (max-width:1120px) and (min-width:726px){
    #intro{
        margin: 41px 23px;
    }
    
    #mid>div{
        width:90%;
    }

    .head2{
        margin: 8px 18px;
        font-size: 1.4rem;
    }

    #box1>img {
        height: 172px;
        width: 184px;
    }

    #box2>img {
        height: 147px;
        width: 171px;
    }

    #box3>img {
        height: 154px;
        width: 159px;
    }

    .img_con{
        margin:16px 0px;
    }
}

@media screen and (max-width:726px) and (min-width:696px){
    #intro{
        margin: 41px 23px;
    }

    #mid>div{
        width:94%;
    }

    .head1{
        font-size: 1.7rem;
    }

    .head2{
        margin: 8px 18px;
        font-size: 1.4rem;
    }

    .img_con{
        margin:8px 0px;
    }

    #box1>img {
        height: 172px;
        width: 184px;
    }

    #box2>img {
        height: 147px;
        width: 171px;
    }

    #box3>img {
        height: 154px;
        width: 159px;
    }
}

@media screen and (max-width:696px) and (min-width:425px){
    #intro{
        margin: 41px 23px;
    }

    #mid>div{
        width:94%;
        margin: 25px 4px;
    }

    .head1{
        font-size: 1.4rem;
    }

    .head2{
        margin: 7px 10px;
        font-size: 1.2rem;
    }

    .para2{
        font-size: small;
    }

    .img_con{
        margin:0;
    }

    #box1>img {
        height: 119px;
        width: 129px;
    }

    #box2>img {
        height: 113px;
        width: 126px;
    }

    #box3>img {
        height: 120px;
        width: 122px;
    }
}

@media screen and (max-width:425px) {
    #intro{
        margin: 41px 15px;
    }
    
    #mid>div{
        width:99%;
        margin: 25px 4px;
    }
    
    .head1{
        font-size: 1.4rem;
    }

    .para1{
        font-size:13px;
    }
    
    .head2{
        margin: 7px 10px;
        font-size: 1.2rem;
    }
    
    .para2{
        font-size: 11px;
        margin: 0px 1px 2px 5px;
    }
    
    .img_con{
        margin:0;
    }
    
    #box1>img {
        height: 92px;
        width: 95px;
    }
    
    #box2>img {
        height: 88px;
        width: 96px;
    }
    
    #box3>img {
        height: 86px;
        width: 92px;
    }
    
}