*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none!important;
}

.error{
    color:red;
    align-self: flex-start;
}

.center{
    text-align: center;
}

.menu2{
    display:none;
}

header{
    position:relative;
}

nav{
    background-color:  #404040;
    display:flex;
    flex-wrap: wrap;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    z-index: 2;
}

#logo>a{
    font-family: 'Righteous';
    color: #35f9de;
    margin: 1px 15px;
    font-size: 2.4rem;
}

/* navigation bar */

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 3px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    position: relative;
    /* width: 518px; */
    margin: auto;
    list-style: none;
}

.navbar>li>a{
    color: white;
    margin: 5px 14px;
    padding: 5px 21px;
    border-radius: 12px;
}

.navbar>li>a:hover{
    background-color: rgb(149, 149, 149);
    color: black;
    cursor: pointer;
    border-radius: 11px;
}

.menu{
    height: 26px;
    position: relative;
    left: 28px;
    top: 6.5px;
}

.btn{
    width: 80px;
    margin: 7px 9px;
    border-radius: 16px;
    border: 1px solid grey;
}

#signup{
    margin-right: 22px;
}

#profile{
    height: 41px;
    width: 42px;
    margin: 4px 46px 1px 58px;
    border-radius: 50px;
}

#profile:hover{
    cursor:pointer;
}

#pro{
    display:none;
    flex-direction:column;
    position:absolute;
    top: 3rem;
    left: 76.5rem;
    width: 8rem;
    background-color: white;
}

#pro>ul{
    list-style: none;
}

#pro>ul>li{
    padding: 3px 1px;
}

#pro>ul>li:hover{
    cursor:pointer;
    background-color: rgb(199, 199, 199);
}

#pro>ul>li>a{
    color:black;
    padding: 3px 12px;
}


#pro>ul>li>a:active{
    color:black;
}

.btn:hover{
    cursor:pointer;
    background-color: rgb(199, 199, 199);
}

.btn>a, .btn>a:focus{
    color:black;
    padding: 10px 15px;
}

footer{
    background-color: #262626;
    color: white;
    width:100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:892px) and (min-width:753px){
    /* body{
        background-color: rgb(241, 159, 159);
    } */


    nav .btn{
        display: none;
    }

    #logo{
        width: 157px;
    }

}

@media screen and (max-width:752px) {
    /* body{
        background-color: burlywood;
    } */
    
    header,nav {
        height: 40px;
    }

    .menu2{
        display: block;
        height:30px;
        position: relative;
        top: 4px;
        left: 10px;
    }

    #logo {
        left: -21px;
        top: -2px;
        font-size: 28px;
        margin: auto;
    }

    .navbar{
        display:none;
    }

    
    nav .btn{
        display: none;
    }
}