doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title
    
    style 
        include ./base.css
    block style
    block links
       
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    body   
    
        <header>
            <nav>
                <label for="ham">
                    <i class="fa fa-bars"></i>
                </label>
                <input type="checkbox" name="ham" id="ham">
                <h1 id="logo"><a href="/">DUALITY</a></h1>
                <ul class="navbar">
                    <li><a href='/' id="home">Home</a></li>
                    <li><a href='/contact' id="contact">Contact Us</a></li>
                    <li><a href='/about' id="about">About Us</a></li>
                </ul>
                
                <button class="btn" id="signup"><a href='/signup'>Sign Up</a></button>
                <button class="btn" id="login"><a href='/login'>Log in</a></button>
                div#rel   
                    <img src="../static/pics/profile.png" alt="" id="profile" onclick="open_log()">
                    <div id="pro" class="center">
                        <ul>
                            <li><a href="/login"> Switch Account</a></li>
                            <li><a href="/" id="logout"> Log Out</a></li>
                        </ul>
                    </div>
            </nav>
        </header>
        block content
        <script src="../static/scripts/base.js"></script>
        block scripts
        footer 
            |Copyright © 2022 Duality.com | All rights reserved
