*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body{
    background-color: #d6e5f5;
} */


.center{
    text-align: center;
}

.menu2{
    display:none;
}

header{
    position:relative;
    height: 52px;
}

nav{
    background-color:  #404040;
    height: 52px;
    display:flex;
    flex-wrap: wrap;
    position:fixed;
    width:100vw;
    z-index: 2;
}

/* nav::before{
    content:"";
    background-color: grey;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity:0.9;
} */

#logo>a{
    font-family: 'Righteous';
    text-decoration:none;
    color: #38c2eb;
    /* position: relative; */
    margin: 1px 15px;
    font-size: 2.4rem;
    /* top: 2px;
    left: 18px; */
}

/* navigation bar */

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 3px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    position: relative;
    /* width: 518px; */
    margin: auto;
    list-style: none;
}

.navbar>li>a{
    text-decoration: none;
    color: white;
    margin: 5px 14px;
    padding: 5px 21px;
    border-radius: 12px;
}

.navbar>li>a:hover{
    background-color: rgb(149, 149, 149);
    color: black;
    cursor: pointer;
    border-radius: 11px;
}

.menu{
    height: 26px;
    position: relative;
    left: 28px;
    top: 6.5px;
}

.btn{
    width: 80px;
    margin: 7px 9px;
    border-radius: 16px;
    border: 1px solid grey;
}

#signup{
    margin-right: 22px;
}

.btn:hover{
    cursor:pointer;
    background-color: rgb(199, 199, 199);
}

.btn>a, .btn>a:focus{
    color:black;
    text-decoration: none!important;
    padding: 10px 15px;
}
/* 
#log{
    position: absolute;
    left: 72rem;
} */

footer{
    background-color: #262626;
    color: white;
    width:100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:892px) and (min-width:753px){
    /* body{
        background-color: rgb(241, 159, 159);
    } */


    nav .btn{
        display: none;
    }

    #logo{
        width: 157px;
    }

}

@media screen and (max-width:752px) {
    /* body{
        background-color: burlywood;
    } */
    
    header,nav {
        height: 40px;
    }

    .menu2{
        display: block;
        height:30px;
        position: relative;
        top: 4px;
        left: 10px;
    }

    #logo {
        left: -21px;
        top: -2px;
        font-size: 28px;
        margin: auto;
    }

    .navbar{
        display:none;
    }

    
    nav .btn{
        display: none;
    }
}