*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none!important;
}

.error{
    color:red;
    align-self: flex-start;
}

.center{
    text-align: center;
}

label{
    display:none;
}

#ham{
    display:none;
}

header{
    position:relative;
}

nav{
    background-color:  #404040;
    display:flex;
    flex-wrap: wrap;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    z-index: 2;
}

#logo>a{
    font-family: 'Righteous';
    color: #35f9de;
    margin: 1px 15px;
    font-size: 2.4rem;
}

/* navigation bar */

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 3px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    position: relative;
    /* width: 518px; */
    margin: auto;
    list-style: none;
}

.navbar>li>a{
    color: white;
    margin: 5px 14px;
    padding: 5px 21px;
    border-radius: 12px;
}

.navbar>li>a:hover{
    background-color: rgb(149, 149, 149);
    color: black;
    cursor: pointer;
    border-radius: 11px;
}

.menu{
    height: 26px;
    position: relative;
    left: 28px;
    top: 6.5px;
}

.btn{
    margin: 7px 9px;
    border-radius: 16px;
    border: 1px solid grey;
}

#login{
    margin-right: 22px;
}

#rel{
    position: relative;
}

#profile{
    height: 41px;
    width: 42px;
    margin: 4px 22px 1px 39px;
    border-radius: 50px;
}

#profile:hover{
    cursor:pointer;
}

#pro{
    display:none;
    flex-direction:column;
    position:absolute;
    left: -39px;
    width: 8rem;
    background-color: white;
}

#pro>ul{
    list-style: none;
}

#pro>ul>li{
    padding: 3px 1px;
}

#pro>ul>li:hover{
    cursor:pointer;
    background-color: rgb(199, 199, 199);
}

#pro>ul>li>a{
    color:black;
    padding: 3px 12px;
}


#pro>ul>li>a:active{
    color:black;
}

.btn:hover{
    cursor:pointer;
    background-color: rgb(199, 199, 199);
}

.btn>a, .btn>a:focus{
    color:black;
    padding: 10px 15px;
}

footer{
    background-color: #262626;
    color: white;
    width:100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:822px) and (min-width:680px){
    #logo>a{
        margin: 0px 0px 0px 9px;
        font-size: 2rem;
    }

    .navbar{
        font-size: 1rem;
    }

    .navbar>li>a {
        margin: 3px 5px;
        padding: 6px 8px;
        letter-spacing: 1px;
    }
    
    #login{
        margin-right:0;
    }

    .btn{
        margin: 4px 7px;
    }

    #profile{
        height: 33px;
        width: 33px;
        margin: 5px 5px 0px 47px;
    }

    #pro{
        left: -38px;
    }
}

@media screen and (max-width:680px) {

    label{
        display: initial;
        margin: 12px 0px 9px 11px;
    }

    #ham:checked~.navbar{
        left:0;
    }

    .navbar{
        display:flex;
        flex-direction: column;
        position:absolute;
        height: 100vh;
        width:100vw;
        left:-100%;
        background-color: #262626;
        z-index: 1;
        transition: all 0.5s;
    }

    #logo{
        margin:auto;
    }

    #logo>a{
        font-size:1.6rem;
    }

    .navbar>li{
        margin: 22px 0px;
        align-self: center;
    }

    .btn{
        margin:7px 0px;
        width:50px;
    }

    #signup{
        visibility:hidden;
        position:absolute;
    }

    #login{
        margin-right: 0;
    }

    .btn>a, .btn>a:focus {
        padding: 3px 5px;
        font-size: smaller;
    }

    #profile{
        height: 33px;
        width: 33px;
        margin: 5px 5px 0px 0px;
    }

    #pro{
        left: -86px;
    }
    
    footer{
        font-size: 11px;
    }
}