*{
    margin:0;
    padding:0;
}

body{
    background-color: #e7fdfd;
}

#contact{
    background-color: rgb(149, 149, 149);
    border-radius: 11px;
}

#con_intro::before{
    content:"";
    background: url('../static/pics/contact us.jpg') no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    height: 100%;   
    width: 100%;
    z-index: -1;
}

#con_intro{
    position:relative;
    border: 0.2px solid;
    height: 15rem;
    color:white
}

#heading1{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 73px 0px 42px 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

p#para {
    margin: 0px 50px;
}

#main_div{
    display: flex;
    background-color: #f0f4ff;
    width: 70%;
    /* height:29rem; */
    margin: 24px auto;
    border: 2px solid black;
    box-shadow: black 1px 1px 6px 1px;
    border-radius:20px;
}

#logos{
    box-shadow: black 2px 0px 0px 0px;
    width:24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0px;
}

#office{
    height:2rem;
}

#email{
    height:2rem;
}

#tele{
    height:2rem;
}

.infos{
    margin-bottom: 25px;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

form>h1{
    margin:20px;
    font-family: 'Rowdies';
}

.input{
    margin:10px 0;
    border:1px solid black;
    border-radius:6px;
    width:21rem;
    justify-content: center;
    font-family: sans-serif;
    margin: 11px 17px;
}

.text1{
    height:2rem;
}

textarea{
    resize: none;
}

.primary_button{
    width: 6rem;
    margin: 13px;
    padding: 10px 0px;
    border-radius: 9px;
    font-weight: bold;
    cursor:pointer;
    background-color: #9e86ff;
}

@media screen and (max-width:800px) and (min-width:590px) {
    #heading1{
        margin: 73px 0px 23px 11px;
    }
    
    #main_div{
        width:86%;
    }

    .input{
        width: 20rem;
    }

    #para{
        margin:0px 13px;
    }

    form>h1{
        font-size:28px;
    }

    .heading2{
        font-size:21px;
    }
}

@media screen and (max-width:590px) and (min-width:425px){
    #heading1{
        font-size:27px;
        margin-bottom:25px;
    }

    #main_div{
        width:95%;
    }
    
    .input{
        width: 14rem;
    }
    
    p#para{
        margin:0px 13px;
    }
    
    form>h1{
        font-size:25px;
    }
    
    .heading2{
        font-size:19px;
    }
    
    .primary_button{
        width: 4rem;
        margin: 10px;
        padding: 5px 0px;
    }
    
}

@media screen and (max-width:425px) {
    #heading1 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    
    p#para {
        margin: 0px 13px;
        font-size: 13px;
    }
    
    #main_div {
        width: 95%;
        flex-direction: column;
    }
    
    #logos{
        box-shadow: black 0px 1px;
        margin: 0px 11px;
        width: initial;
    }

    form>h1{
        font-size:25px;
    }
    
    .heading2{
        font-size:18px;
    }

    .infos>p{
        font-size: 13px;
    }
    
    .input{
        width: 14rem;
    }

    .primary_button{
        width: 4rem;
        margin: 10px;
        padding: 5px 0px;
    }
    
}