*{
    margin:0;
    padding:0;
}

#contact{
    background-color: rgb(149, 149, 149);
    border-radius: 11px;
}

body::before{
    content:"";
    background:url('../static/pics/contact us3.jpg') no-repeat center center/cover;
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
    opacity:0.7;
}

body{
    background-color: #e7fdfd;
    position: relative;
    padding:1px;
}

#main_div{
    font-family: 'Baloo Bhaijaan 2', cursive;
    display: flex;
    background-color: #f5faff;
    width: 66%;
    margin: 125px auto 70px auto;
    border: 2px solid black;
    box-shadow: black 1px 1px 6px 1px;
    border-radius:20px;
}

#logos{
    box-shadow: black 2px 0px 0px 0px;
    width:15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0px;
}

.heading2{
    font-size: 16px;
}

#office{
    height:2rem;
}

#email{
    height:2rem;
}

#tele{
    height:2rem;
}

.infos{
    margin-bottom: 25px;
}

.infos>p{
    font-size: 14px;
    line-height: 17px;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

form>h1{
    margin:20px 0px;
    font-family: 'Rowdies';
}

.input{
    margin:10px 0;
    /* border:1px solid black; */
    border-radius:6px;
    width:30rem;
    justify-content: center;
    font-family: sans-serif;
    margin: 11px 17px;
    border: none;
    box-shadow: black 0px 0px 3px 0px;
    padding: 1px 13px;
}

.text1{
    height: 2rem;
}

textarea{
    resize: none;
}

.primary_button{
    width: 6rem;
    margin: 13px;
    padding: 7px 0px;
    border-radius: 9px;
    font-weight: bold;
    cursor:pointer;
    background-color: #bfd6ff;
}

@media screen and (max-width:1200px)and (min-width:800px){
    .input{
        width:22rem;
    }
}

@media screen and (max-width:800px) and (min-width:590px) {
    
    #main_div{
        width:86%;
    }

    #logos{
        width:10rem;
        margin-left:7px;
    }

    .input{
        width: 20rem;
    }

    .para{
        margin:0px 13px;
    }

    form>h1{
        font-size:28px;
    }

    .heading2{
        font-size:21px;
    }
}

@media screen and (max-width:590px) and (min-width:425px){

    #main_div{
        width:95%;
    }
    
    .input{
        width: 14rem;
    }
    
    .para{
        margin:0px 13px;
    }
    
    form>h1{
        font-size:25px;
    }
    
    .heading2{
        font-size:19px;
    }
    
    .primary_button{
        width: 4rem;
        margin: 10px;
        padding: 5px 0px;
    }
    
}

@media screen and (max-width:425px) {
    
    #main_div {
        width: 95%;
        flex-direction: column;
    }
    
    #logos{
        box-shadow: black 0px 1px;
        margin: 14px 11px;
        width: initial;
    }

    form>h1{
        font-size:25px;
    }
    
    .heading2{
        font-size:18px;
    }

    .infos>p{
        font-size: 13px;
    }
    
    .input{
        width: 16rem;
    }

    .primary_button{
        width: 4rem;
        margin: 10px;
        padding: 5px 0px;
    }
    
}