body::before{
    content:"";
    background: url('../static/pics/bodybackexp.jpg')no-repeat center center/cover;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -5;
    opacity: 0.29;
}

body{
    position: relative;
}

#container{
    position: relative;
    top:18px;
    height: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle1{
    height: 83px;
    width: 86px;
    position: absolute;
    background-color: #f7be1e;
    z-index: 100;
    border-radius: 50%;
    top: 30rem;
    left: 9rem;
}

#circle2{
    position: absolute;
    height: 102px;
    width: 106px;
    top: 3rem;
    left: 39rem;
    border: #2eb99a 13px solid;
    border-radius: 50%;
    z-index: 5;
}

#con1{
    height: 17rem;
    width: 34rem;
    position: relative;
    left: -82px;
    top: 91px;
    z-index: 1;
    color: white;
    background-color: #f7be1e;
    box-shadow: yellow 16px 17px 0px 0px;
}

/* #quotes{
    position: absolute;
    font-size: 83px;
    left: 15px;
} */

.head1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.8rem;
    margin: 30px 0px;
    padding:0px 6px;
}

.para1{
    font-family: 'Didact Gothic', sans-serif;
    margin: 31px 24px 36px 19px;
}

#nature{
    height: 25rem;
    width: 28rem;
    border-radius: 50%;
}

#boxes{
    display: flex;
    justify-content: space-around;
    padding: 53px 0px;
}

.heading2{
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 26px;
    color: #7a5a67;
}

.para2{
    font-family: 'Didact Gothic', sans-serif;
    margin: 1px 2px 19px 2px;
    color: #8f6878;
}

#boxes>div{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px 8px;
    border-radius: 10px;
    background-color: #fdf6ed;
    box-shadow: black 2px 2px 7px 0px;
}


#box1>img{
    height: 83px;
    margin: 1px 0px 17px 0px;
}

#box2>img{
    height: 70px;
    margin: 13px 1px 18px 1px;
}

#box3>img{
    height: 75px;
    margin: 9px 1px 17px 1px;
}

#box4>img{
    margin: 10px 0px 6px 1px;
    height: 84px;
}

@media screen and (max-width:1200px)and (min-width:864px){
 
    #nature {
        height: 17rem;
        width: 20rem;
    }

    #circle1 {
        height: 74px;
        width: 77px;
    }

    #circle2 {
        height: 94px;
        width: 97px;
        top: 7rem;
    }

    #con1 {
        height: 15.5rem;
        width: 26rem;
    }

    .head1 {
        font-size: 1.5rem;
    }

    .para1 {
        margin: 31px 24px 36px 19px;
        font-size: 15px;
    }

    .heading2{
        font-size: 20px;
    }

    .para2{
        font-size:14px;
    }
}

@media screen and (max-width:864px)and (min-width:594px){
    #container{
        top: -36px;
    }   
    
    #nature {
        height: 16rem;
        width: 18rem;
    }

   #circle1 {
        height: 66px;
        width: 68px;
        left: 4rem;
        top: 27rem;
    }

    #circle2 {
        height: 79px;
        width: 86px;
        top: 9rem;
        left: 21rem;
    }

    
    #con1 {
     height: 13.5rem;
     width: 23rem;
    }
    
    .head1 {
        font-size: 1.2rem;
        margin: 25px 0px;
    }
    
    .para1 {
        margin: 0px 24px 36px 19px;
        font-size: 12px;
    }

    #boxes{
        flex-wrap: wrap;
    }
    
    .heading2{
        font-size: 17px;
    }

    .para2{
        font-size:13px;
    }
    
       #box1>img {
        height: 62px;
        margin: 1px 0px 17px 0px;
    }

    #box2>img {
        height: 47px;
        margin: 13px 1px 18px 1px;
    }

    #box3>img {
        height: 51px;
        margin: 9px 1px 17px 1px;
    }

    #box4>img {
        margin: 10px 0px 6px 1px;
        height: 60px;
    }
}

@media screen and (max-width:594px) and (min-width:443px){
    #container{
        top: -36px;
    }   
    
    #nature {
        height: 12rem;
        width: 14rem;
        margin-left: 30px;
    }

   #circle1 {
        height: 57px;
        width: 60px;
        left: 2rem;
        top: 25rem;
    }

    #circle2 {
        height: 70px;
        width: 73px;
        top: 10rem;
        left: 15rem;
        border: #2eb99a 10px solid;
    }

    
    #con1 {
        height: 15.5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .head1 {
        font-size: 1.1rem;
        margin: 18px 0px;
    }
    
    .para1 {
        margin: 0px 24px 36px 19px;
        font-size: 10px;
    }

    #boxes{
        flex-wrap: wrap;
    }
    
    #boxes>div{
        width:16rem;
    }

    .heading2{
        font-size: 15px;
    }

    .para2{
        font-size: 12px;
        margin-bottom: 28px;
    }
    
    #box1>img {
        height: 58px;
        margin: 1px 0px 17px 0px;
    }

    #box2>img {
        height: 44px;
        margin: 13px 1px 18px 1px;
    }

    #box3>img {
        height: 48px;
        margin: 9px 1px 17px 1px;
    }

    #box4>img {
        margin: 10px 0px 6px 1px;
        height: 54px;
    }
}


@media screen and (max-width:443px) and (min-width:370px){
    #container{
        top: -114px;
        height: 33rem;
    }   
    
    #nature {
        height: 14rem;
        width: 17rem;
        position: absolute;
        margin-left: 0;
        left: 1rem;
        top: 12rem;
    }

    #circle1 {
        height: 39px;
        width: 41px;
        left: 1rem;
        top: 25rem;
    }

    #circle2 {
        height: 47px;
        width: 49px;
        top: 11rem;
        left: 17rem;
        border: #2eb99a 7px solid;
    }

    
    #con1 {
        position: absolute;
        height: 15.5rem;
        left: 9rem;
        top: 19rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .head1 {
        font-size: 1.1rem;
        margin: 18px 0px;
    }
    
    .para1 {
        margin: 0px 24px 36px 19px;
        font-size: 10px;
    }

    #boxes{
        flex-wrap: wrap;
    }
    
    #boxes>div{
        width: 14rem;
    }

    .heading2{
        font-size: 15px;
        margin-bottom: 6px;
    }

    .para2{
        font-size: 12px;
        margin-bottom: 28px;
    }
    
    #box1>img {
        height: 51px;
        margin: 1px 0px 17px 0px;
    }

    #box2>img {
        height: 40px;
        margin: 13px 1px 18px 1px;
    }

    #box3>img {
        height: 42px;
        margin: 9px 1px 17px 1px;
    }

    #box4>img {
        height: 47px;
        margin: 10px 0px 6px 1px;
    }
}
@media screen and (max-width:370px){
    #container{
        top: -114px;
        height: 27rem;
    }   
    
    #nature {
        height: 10rem;
        width: 12rem;
        position: absolute;
        margin-left: 0;
        left: 0.3rem;
        top: 12rem;
    }

    #circle1 {
        height: 39px;
        width: 41px;
        left: 1rem;
        top: 22rem;
    }

    #circle2 {
        height: 47px;
        width: 49px;
        top: 11rem;
        left: 12rem;
        border: #2eb99a 7px solid;
    }

    
    #con1 {
        position: absolute;
        height: 15.5rem;
        left: 5rem;
        top: 15rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .head1 {
        font-size: 1.1rem;
        margin: 18px 0px;
    }
    
    .para1 {
        margin: 0px 24px 36px 19px;
        font-size: 10px;
    }

    #boxes{
        flex-wrap: wrap;
    }
    
    #boxes>div{
        width: 14rem;
    }

    .heading2{
        font-size: 15px;
        margin-bottom: 6px;
    }

    .para2{
        font-size: 12px;
        margin-bottom: 28px;
    }
    
    #box1>img {
        height: 51px;
        margin: 1px 0px 17px 0px;
    }

    #box2>img {
        height: 40px;
        margin: 13px 1px 18px 1px;
    }

    #box3>img {
        height: 42px;
        margin: 9px 1px 17px 1px;
    }

    #box4>img {
        height: 47px;
        margin: 10px 0px 6px 1px;
    }
}
