#home{
    background-color: rgb(149, 149, 149);
    border-radius: 11px;
}

/* intro */

.intro::before{
    content:"";
    background: url('../static/pics/3144854.jpg') no-repeat center center/cover;
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    z-index: -999;
}
.intro{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height:99vh;
    z-index: 1;
}

.con{
    margin: auto;
    color: white
}

.in_2{
    display:none;
}

.head1{
    margin: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
}
.head2{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.p1{
    font-family: 'Padauk', sans-serif;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    margin: 78px;
}

.btn1{
    font-family: 'Secular One', sans-serif;
    width: 107px;
    height: 43px;
    font-size: 17px;
    font-weight: bold;
    border: 3px double #af3ce9;
    color: #af3ce9;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 24px;
}

.btn1:hover{
    cursor: pointer;
    background-color: #b94aff;
    box-shadow: #09ffac 1px 1px 8px 3px;
    color: #e4e4eb;
    border-color: #09ffac;
}


/* services */

#scroll{
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: white;
    padding: 1px 0px 9px 0px;
}

.heading2{
    font-family: 'Work Sans', sans-serif;
    width: 219px;
    margin: 13px auto 5px auto;
    color: #4a4ecb;
    font-size:2.2rem;
}

.services{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services>div{
    background-color: #fafaff;
    border: 2px solid #289cbf;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 385px;
    border-radius: 25px;
    margin:8px;
    box-shadow: #2a2a2a 4px 6px 10px 1px;
}

.btn2{
    background-color: #e7e7e7;
    font-weight: bold;
    width: 100px;
    margin: 22px;
    padding: 9px 2px;
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px;
}

.btn2:hover{
    box-shadow: none;
    background-color:rgb(212, 212, 212);
    cursor:pointer;
}

#plane{
    height: 80px;
    margin: 14px;
}

#train{
    height: 84px;
    width: 87px;
    border: 3px solid #396fa3;
    margin: 11px;
    border-radius: 50px;
    padding: 7px;
}

#bus{
    height: 76px;
    width: 115px;
    border: 3px solid #387bbb;    
    border-radius: 50px;
    padding: 7px;
    margin: 14px;
}

/* about */
/* .about::before{
    content: "";
    background: url('../static/travelling.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
} */

.about{
    display: flex;
    flex-direction: column;
    border: 3px solid #ff9c47;
    background-color: rgb(250 250 255);
    border-radius: 121px;
    align-items: center;
    margin: 39px 10px;
    position: relative;
    color: black;
    margin: 45px auto;
    width: 75%;
    box-shadow: black 4px 4px 11px 0px;
}

.heading3{
    font-size: 2.4rem;
    font-family: 'Work Sans', sans-serif;
    width: 200px;
    margin: 22px auto 29px auto;
    color: #4a4ecb;
}

.p3{
    font-family: 'Josefin Sans', sans-serif;
}

#ab_para{
    width: 85%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.btn3{
    margin: 26px 7px;
    height: 42px;
    width: 137px;
    font-size: 1.1rem;
    border: 2px solid #0aa6c9;
    border-radius: 18px;
    background: white;
    font-weight: bold;
}

.btn3>a{
    text-decoration: none;
    padding: 10px 20px;
    color: #0aa6c9;
}

.btn3:hover{
    cursor:pointer;
    background-color: #0aa6c9;
}

.btn3>a:hover{
    color:white;
}

footer{
    position: relative;
    z-index: 1;
}

@media screen and (max-width:1206px) and (min-width:830px){
    /* body{
        background-color: rgb(78, 255, 8);
    } */

    .btn1 {
        width: 109px;
        height: 34px;
        font-size: 15px;
    }

    .head1 {
        font-size: 15px;
    }

    .head2{
        font-size: 3.6rem;
    }

    .p1{
        font-size: 15px;
        margin: 42px 16px;
    }

    .services>div{
        margin: 10px 0px;
        height: 177px;
        width: 268px;
        border-radius: 19px;
    }

    #plane{
        height: 57px;
        margin: 7px;
    }

    #train{
        height: 62px;
        width: 64px;
        margin: 4px;
    }

    #bus{
        height: 51px;
        width: 80px;
        margin: 9px;
    }

    .btn2{
        width: 87px;
        padding: 6px 1px;
    }

    .heading2{
        width: 180px;
        font-size: 1.8rem;
    }

    .about{
        border-radius :50px;
    }

    .heading3{
        font-size: 2rem;
        width:145px;
    }

    .btn3{
        width: 115px;
    }

    .btn3>a{
        padding: 10px 9px;
    }
}

@media screen and (max-width:830px) and (min-width:492px){
    .head1 {
        margin: 11px;
        font-size: 11px;
    }

    .head2 {
        font-size: 3rem;
    }

    .btn1 {
        width: 82px;
        height: 28px;
        font-size: 12px
    }
    /* services */

    .heading2 {
        width: 125px;
        font-size: 20px;
    }

    .services{
        flex-direction: column;
        align-items: center;
    }

    .services>div {
        height: 162px;
        width: 265px;
    }

    .ser_head {
        /* margin-bottom: 16px; */
        font-size: 18px;
    }

    #plane{
        height: 57px;
        margin: 7px;
    }

    #train{
        height: 62px;
        width: 64px;
        margin: 4px;
    }

    #bus{
        height: 51px;
        width: 80px;
        margin: 9px;
    }

    .btn2{ 
        width: 75px;
        padding: 5px 0px;
        font-size: 10.5px;
    }

    /* about */
    .about {
        border-radius: 21px;
        align-items: center;
        margin: 39px 10px;
        margin: 45px auto;
        width: 95%;
    }

    .heading3{
        font-size: 23px;
        margin: 21px;
        text-align: center;
        color: #7258ff;
    }

    #ab_para {
        width: 95%;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }

    .btn3 {
        margin: 16px 7px;
        height: 23px;
        padding: 0px;
        width: 73px;
        font-size: 10.5px;
    }

    .btn3>a{
        padding: 4px 4px;
    }
    
}

@media screen and (max-width:492px){
    .intro{
        height:95vh;
    }


    .head1 {
        margin: 11px;
        font-size: 9px;
    }
    
    .head2 {
        font-size: 2rem;
    }
    
    .btn1 {
        width: 71px;
        height: 24px;
        font-size: 10px;
    }
    /* services */
    
    .heading2 {
        width: 125px;
        font-size: 20px;
    }
    
    .services{
        flex-direction: column;
        align-items: center;
    }
    
    .services>div {
        height: 153px;
        width: 214px;
    }
    
    .ser_head {
        /* margin-bottom: 16px; */
        font-size: 18px;
    }
    
    #plane{
        height: 50px;
        margin: 7px;
    }
    
    #train{
        height: 57px;
        width: 59px;
        margin: 4px;
    }
    
    #bus{
        height: 51px;
        width: 63px;
        margin: 9px;
    }
    
    .btn2{ 
        width: 75px;
        padding: 5px 0px;
        font-size: 10.5px;
    }
    
    /* about */
    .about {
        border-radius: 21px;
        align-items: center;
        margin: 39px 10px;
        margin: 45px auto;
        width: 95%;
    }
    
    .heading3{
        font-size: 23px;
        margin: 21px;
        text-align: center;
        color: #7258ff;
    }
    
    #ab_para {
        width: 95%;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }
    
    .btn3 {
        margin: 16px 7px;
        height: 26px;
        padding: 0px;
        width: 73px;
        font-size: 10.5px;
    }
    
    .btn3>a{
        padding: 4px 4px;
    }
}