extends base.pug

block title
    |Duality.com 

block style 
    style 
        include ./home.css

block links
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
block content 
    
    |<!-- intro -->
    <div class="intro">
        <div class="con center">
            <h3 class="head1">TRAVEL AGENCY</h3>
            div
                <h1 class="head2">Embark on the adventure</h1>
                //- <p class="p1 center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse?</p>
                <button class="btn1">EXPLORE</button>
        </div>
    </div>
        
    </header>
    
    |<!-- services -->
    <h1 class="heading2">
        |Our Services
    </h1>
    <section class="services center">
        <div id="ser-1">
            <img src='../static/pics/plane logo.jpg' alt="error" id="plane">
            <h2 class="ser_head center">Plane Tickets</h2>
            //- <p class="p2 center">Click to book Plane Tickets</p>
            
            <button class="btn2">
                |Book Now
            </button>
        </div>
        <div id="ser-2">
            <img src="../static/pics/train logo.png" alt="error" id="train">
            <h2 class="ser_head center">Train Tickets</h2>
            //- <p class="p2 center">Click to book Train Tickets</p>
            
            <button class="btn2">
                |Book Now
            </button>
        </div>
        <div id="ser-3">
            <img src="../static/pics/bus logo.jpg" alt="error" id="bus">
            <h2 class="ser_head center">Bus Tickets</h2>
            //- <p class="p2 center">Click to book Bus Tickets</p>
            
            <button class="btn2">
                |Book Now
            </button>
        </div>
    </section>

    <section class="about">
        
            <h1 class="heading2">About Us</h1>
            <div id="ab_para" class='center p3'>
                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non vitae tenetur totam quia pariatur. Facere nemo quasi eveniet, illo deserunt nulla molestiae ex eum necessitatibus. Ducimus, rem quia? Nostrum quis nobis quos officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum, nam dolorem inventore reprehenderit est rem, explicabo nemo, suscipit perspiciatis aliquam ipsam ut illo voluptatem quam officiis. Sunt, repudiandae nam. In earum autem obcaecati. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae sed aperiam quidem nemo quos quo officia aliquam quas recusandae cumque dolorem necessitatibus omnis temporibus quisquam eum earum, sunt, in numquam ipsa consequuntur harum saepe fuga! Facilis mollitia eos odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime deleniti cupiditate in aspernatur natus dignissimos explicabo laboriosam nam. Saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam asperiores a quam reprehenderit similique.
            </div>
            <button class="btn3">
                <a href="/about">know more</a>
            </button> 
    </section>
    