<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    style 
        include ./login.css
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
        <div class="img">
            <h1>Welcome Back!</h1>
            <form action="/login" method="post" id="form">
                
                <h1>Login</h1>
                    <p class="error" id="alert"></p>
                <div class="entry">
                    <p class="error"></p>
                    <label for="username" required >username</label>
                    <input type="text" name="username" id="username" class="reg">
                    <p class="error"></p>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" class="reg" required>
                    <button type="submit" class="login">Log in</button>
                </div>
            </form>
            <p>New User? Create an account for free</p>
            <button id="signup"><a href="/signup">Create Account</a></button>
        </div>
        <script src="../static/scripts/login.js"></script>
</body> 
</html>        
        