*{
    margin:0;
    padding:0;
    text-decoration: none;
}

#alert{
    background-color: rgb(253, 235, 212);
    color:rgb(248, 65, 65);
}

.error{
    color:red;
    align-self: flex-start;
}

body{
    background-color: #f4eaff;
}

body::before{
    content:"";
    background: url('../static/pics/login.jpg') no-repeat center center/cover;
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity:0.5;
}

.img>h1{
    font-family: 'Lobster';
    font-size: 3rem;
    width: 19rem;
    margin: 52px auto;
}

#signup{
    height: 32px;
    background-color: #b563f3;
    box-shadow: black 2px 2px 4px 0px;
    width: 9rem;
    display: inherit;
    margin: 17px auto;
}

#signup>a{
    padding: 9px;
    color:black;
    font-size: 14px;
    font-weight: bold;
}

#signup:hover{
    cursor:pointer;
    box-shadow: none;
}

#form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form>h1{
    margin: 16px;
    font-size: 36px;
}

.entry{
    display: flex;
    flex-direction: column;
}

#form label{
    font-size: 20px;
    font-weight: bold;
}

.reg{
    width: 20rem;
    margin: 6px 0px 21px 0px;
    padding: 5px 0px;
}

.login{
    width: 127px;
    font-weight: bold;
    height: 32px;
    margin: auto;
    font-size: 18px;
    font-family: serif;
    cursor:pointer;
}

.img>p{
    width: 16rem;
    margin: 31px auto 10px auto;
}

@media screen and (max-width:425px){
    body::before{
        position: static;
    }

    .img>h1 {
        font-family: 'Lobster';
        font-size: 2.3rem;
        width: 14rem;
        margin: 34px auto;
    }

    .img>p{
        width: 14rem;
        font-size: 14px;
    }

    #form>h1 {
        margin: 12px;
        font-size: 29px;
    }

    #form label{
        font-size: 16px;
    }

    .reg{
        width:16rem;
    }

    #signup{
        width:8rem;
        height:30px;
    }
}