<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
        style 
            include ./signup.css
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <div class="img">
            <h1 class="center">Register Now</h1>
            <form action="/signup" method="post" id="form">
                <div class="entry">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="reg" placeholder="Create a new username" required>
                    <p class="error"></p>
                    <label for="email">Enter your email address</label>
                    <input type="email" name="email" id="email" class="reg"placeholder="Enter email address" required>
                    <p class="error"></p>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="reg"placeholder="Create a new password" required>
                    <p class="error"></p>
                    <button type="submit" class="login" href='/about'>Create Account</button>
                </div>
            </form>
            <p class="center">Already have an account?<a href="/login">Login</a></p>
             

        </div>
        <script src="../static/scripts/signup.js"></script>
    </body>
</html>