*{
    margin:0;
    padding:0;
    text-decoration: none;
}

#alert{
    background-color: antiquewhite;
    color:rgb(248, 65, 65);
}

body{
    background-color: #f4eaff;
}

body::before{
    content:"";
    background: url('../static/pics/login.jpg') no-repeat center center/cover;
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity:0.5;
}

.img{
    height: 33rem;
    margin: 127px auto;
}

.img>h1{
    font-family: 'Lobster';
    width: 14rem;
    margin: 37px auto;
    font-size: 2.7rem;
}

#signup{
    height: 32px;
    background-color: #b563f3;
    box-shadow: black 2px 2px 4px 0px;
    width: 9rem;
    margin: 5px 419px;
}

#signup>a{
    padding: 9px;
    color:black;
    font-size: 14px;
    font-weight: bold;
}

#signup:hover{
    cursor:pointer;
    box-shadow: none;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form>h1{
    margin: 16px;
    font-size: 36px;
}

.entry{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 20px;
    font-weight: bold;
}

.reg{
    margin: 6px 0px 21px 0px;
    padding: 5px 0px;
    width:23rem;
}

.login{
    width: 127px;
    font-weight: bold;
    height: 32px;
    margin: 11px auto;
    font-size: 18px;
    font-family: serif;
    cursor:pointer;
    box-shadow: black 0px 1px 0px 0px;
    border-radius: 5px;
}

.login:hover{
    box-shadow: none;
}

.img>p{
    width: 17rem;
    font-size: 18px;
    margin: 6px auto 10px auto;
}

@media screen and (max-width:425px){
    body::before{
        position: static;
    }

    .img>h1{
        font-size: 2.3rem;
        width: 12rem;
    }

    .reg{
        width:17rem;
    }

    form label{
        font-size: 17px;
    }

    .login {
        width: 140px;
        height: 31px;
        font-size: 17px;
    }

    .img>p{
        font-size:15px;
        width:14rem;
    }
}