*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.error{
    color: red;
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
}

body{
    position: relative;
}

body::before{
    content:'';
    background: url('../static/pics/login2.webp')no-repeat center center/cover;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity:0.6;
}


.img{
    padding: 1px;
    font-family: 'Lato', sans-serif;
}

.img>h1{
    font-family: 'Lobster';
    width: 16rem;
    letter-spacing: 2px;
    margin: 91px auto 0px auto;
    font-size: 2.7rem;
}

#signup{
    height: 32px;
    background-color: #b563f3;
    box-shadow: black 2px 2px 4px 0px;
    width: 9rem;
    margin: 5px 419px;
}

#signup>a{
    padding: 9px;
    color:black;
    font-size: 14px;
    font-weight: bold;
}

#signup:hover{
    cursor:pointer;
    box-shadow: none;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form>h1{
    margin: 16px;
    font-size: 36px;
}

.entry{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 20px;
    margin-top: 26px;
    font-weight: bold;
}

.reg{
    margin: 14px 0px 0px 0px;
    padding: 5px 9px;
    width: 23rem;
    border-style: hidden;
    height: 1.4rem;
    background-color: whitesmoke;
    box-shadow: black 0px 0px 3px 0px;
}

.login{
    width: 127px;
    font-weight: bold;
    height: 32px;
    margin: 26px auto 11px auto;
    font-size: 14px;
    cursor:pointer;
    box-shadow: black 0px 1px 0px 0px;
    border-radius: 5px;
}

.login:hover{
    box-shadow: none;
}

.img>p{
    width: 17rem;
    font-size: 18px;
    margin: 6px auto 10px auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.img>p>a{
    text-decoration: underline;
}

@media screen and (max-width:425px){
    .img>h1{
        font-size: 2rem;
        width: 12.5rem;
    }

    .reg{
        width:17rem;
    }

    form label{
        font-size: 16px;
    }

    .login {
        width: 107px;
        height: 30px;
        font-size: 12px;
    }

    .img>p{
        font-size:15px;
        width:14rem;
    }
}